<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserDaoImplMapper">
	<!-- mapping -->
	 <resultMap id="userInfo" type="com.microblue.dal.entity.UserInfo">
	 	<result property="id" column="id" jdbcType="INTEGER"/>
		<result property="userName" column="user_name" jdbcType="VARCHAR" /> 
		<result property="password" column="password" jdbcType="VARCHAR" />  
		<result property="createTime" column="create_time" jdbcType="DATE" /> 
		<result property="modifyTime" column="modify_time" jdbcType="DATE" /> 
		<result property="isDeleted" column="is_deleted" jdbcType="INTEGER" /> 
		<result property="mobilePhone" column="mobile_phone" jdbcType="INTEGER" /> 
		<result property="isLogin" column="is_login" jdbcType="INTEGER" />  
	</resultMap>
	<sql id="selectColumns"> 
		id,user_name,is_login,password,create_time,modify_time,is_deleted,mobile_phone 
	</sql>
	<sql id="addColums"> 
		user_name,is_login,password,create_time,modify_time,is_deleted,mobile_phone 
	</sql>
	
	<sql id="whereCondition">
		<if test="id != null and id !=''" >
		and id = #{id}
		</if>
		<if test="userName != null and userName !=''" >
		and user_name = #{userName}
		</if>
		<if test="isLogin != null" >
		and is_login = #{isLogin}
		</if>
		<if test="password != null and password !=''" >
		and password = #{password}
		</if>
		<if test="createTime != null and createTime !=''" >
		and create_time = #{createTime}
		</if>
		<if test="modifyTime != null and modifyTime !=''" >
		and modify_time = #{modifyTime}
		</if>
		<if test="isDeleted != null" >
		and is_deleted = #{isDeleted}
		</if>
		<if test="mobilePhone != null and mobilePhone !=''" >
		and mobile_phone = #{mobilePhone}
		</if>
	</sql>
<!--
.

	分页查询审核通过的用户信息
	<select id="queryModelListByPage" parameterType="com.microvip.dal.entity.query.QueryCondition"
		resultMap="modelInfo">
		SELECT
		<include refid="selectColumns" />
		FROM
		model_info where 1 = 1 
		<if test="condition.name != null and condition.name != ''" >
		     <bind name="pattern_name" value="'%' + condition.name + '%'" />
	               and name like #{pattern_name} 
	        </if>
        <if test="page.pageSize != null and page.pageSize != 0" >
	     	limit #{page.pageStart}, #{page.pageSize}
        </if>
		
	</select>
	 -->

	<!--根据ID查询用户信息-->
	<select id="getUserByParams" parameterType="com.microblue.dal.entity.UserInfo" resultMap="userInfo">
		SELECT
		<include refid="selectColumns" />
		FROM
		user_info
		where 1=1 
		<include refid="whereCondition"/>
		</if>
	</select>
	
	<!-- 查询审核过的用户数-->
	<!-- 
	<select id="queryListCount" parameterType="com.microvip.dal.entity.ModelInfo"	resultType="java.lang.Integer">
		SELECT
		count(id)
		FROM
		model_info
		where 1 = 1 
		<if test="param.name != null and param.name != ''" >
		     <bind name="pattern_name" value="'%' + param.name + '%'" />
	               and name like #{pattern_name} 
	        </if>
	</select>
-->

	<insert id="addUserInfo" parameterType="com.microblue.dal.entity.UserInfo">
	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID()
	</selectKey>
	insert into 
	user_info 
	(
	<include refid="addColums" />
	)  
    values(#{openId},#{nick},#{wxNo},#{birth},#{height},#{weight},#{sanWei},#{age},#{sex},#{province},#{city},#{area},#{headImage},#{phone}
    	<if test="sort == null" >
    	,0 
   	 	</if>
   	 	<if test="sort != null" >
    	,#{sort}
   	 	</if>
    	<if test="isDeleted == null" >
    	,0 
    	</if>
    	<if test="isDeleted != null" >
    	,#{isDeleted}
    	</if>
    	<if test="synchStatus == null" >
    	,0 
    	</if>
    	<if test="synchStatus != null" >
    	,#{synchStatus}
    	</if>
    	
    	,#{password},#{salt})  
	</insert>
	
	
	<update id="updateUserInfo" useGeneratedKeys="true" keyProperty="id"  parameterType="com.microblue.dal.entity.UserInfo">
	    update 
	    user_info 
	    set id = #{id} 
	    <if test="userName != null and userName !=''" >
		, user_name = #{userName}
		</if>
		<if test="isLogin != null" >
		, is_login = #{isLogin}
		</if>
		<if test="createTime != null and createTime !=''" >
		, create_time = #{createTime}
		</if>
		<if test="modifyTime != null and modifyTime !=''" >
		, modify_time = #{modifyTime}
		</if>
		<if test="isDeleted != null" >
		, is_deleted = #{isDeleted}
		</if>
		<if test="mobilePhone != null and mobilePhone !=''" >
		, mobile_phone = #{mobilePhone}
		</if>
	    where id = #{id}
	</update>
 	<update id="updatePasswordById" useGeneratedKeys="true" keyProperty="id"  parameterType="com.microblue.dal.entity.UserInfo">
	    update 
	    user_info 
	    set id = #{id}
	    <if test="password != null and password != ''" >
	               , password = #{password} 
	    </if>
	    where id = #{id}
	</update> 

</mapper>